body {

	margin: 0px;
	min-height: 100vh;
}

.cabecalho {

	background-color: black;
	color: white;
	min-height: 128px;
	padding: 16px;
}

.conteudo {

	min-height: 100vh;	
}

.tabela {

	padding: 16px;
}

.rodape {

	background-color: black;
	color: white;
	min-height: 128px;
	padding: 16px;
}

.apresentacao {

	padding: 16px;
}

table {

	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {

	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {

	background-color: #dddddd;
}