body {

	margin: 0px;
	min-height: 100vh;
}

.cabecalho {

	background-color: black;
	color: white;
	min-height: 128px;
	padding: 16px;
}

.conteudo {

	min-height: 100vh;	
}

.rodape {

	background-color: black;
	color: white;
	min-height: 128px;
	padding: 16px;
}

.apresentacao {

	padding: 16px;
}